<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ASSURANCES MAGHREBIA Tunisie - Compagnie d'assurance Tunisienne</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/maghribia.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preload" as="image" href="/assets/images/maghribia.png">
    <link rel="preload" as="image" href="/assets/images/logoreset.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body id="top" class="mat-typography">
    <header class="header">
      <div class="header-top" data-header>
        <div class="container">
          <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </button>
          <div class="input-wrapper">
            <button class="search-submit" aria-label="search"></button>
          </div>
          <div class="header-actions"></div>
          <nav class="navbar">
            <a href="home" class="logo">
              <img src="assets/images/maghribia.png" width="150" height="30" alt="maghribia">
            </a>
            <ul class="navbar-list">
              <li>
                <a href="#home" class="navbar-link has-after">PARTICULIERS</a>
              </li>
              <li>
                <a href="#collection" class="navbar-link has-after">PROFESSIONNELS & ENTREPRISES</a>
              </li>
              <li>
                <a href="#shop" class="navbar-link has-after">INVESTISSEURS</a>
              </li>
              <li>
                <a routerLink="calendar" class="navbar-link has-after">Calendar</a>
              </li>
              <li>
                <a href="C:\Users\mehdi\Desktop\template\glowing-master2\Login & Sign Up.html" class="navbar-link has-after">REJOIGNEZ-NOUS</a>
              </li>
              <li>
                <a class="navbar-link has-after" (click)="logout()" aria-label="Logout">
                  LOGOUT
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <script src="/assets/js/script.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
