<link rel="stylesheet" href="/assets/css/style55.css">



<div class="login-wrapper">
    <div class="login-card">
      <div class="login-header">
        <h2>Create an Account!</h2>
        <p>Sign up to get startedd</p>
      </div>
                        <form id="contactForm"  (ngSubmit)="signUp()">
                            <label for="roadAddress">First Name</label>
                            <div class="form-group" >
                                <i class='bx bx-user'></i>
                                <input type="text" name="firstName"  [(ngModel)]="userData.firstName" id="firstName" class="form-control" required data-error="Please enter your first Name" placeholder="firstName">
                            </div>
                            <label for="roadAddress">Last Name</label>
                            <div class="form-group">
                                <i class='bx bx-user'></i>
                                <input type="text" name="lastName" [(ngModel)]="userData.lastName" id="lastName" class="form-control" required data-error="Please enter your lastName" placeholder="lastName" required>
                            </div>
                            <label for="roadAddress">Phone Number</label>
                            <div class="form-group">
                                <i class='bx bx-user'></i>
                                <input type="number" name="phoneNumber" [(ngModel)]="userData.phoneNumber" id="phoneNumber" class="form-control" required data-error="Please enter your phoneNumber" placeholder="PhoneNumber" required>
                            </div>
                            <label for="roadAddress">Birthday</label>
                            <div class="form-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="date" name="birthday" [(ngModel)]="userData.birthday" id="birthday" class="form-control" required data-error="Please enter birthday" placeholder="birthday" required>
                            </div>
                            <label for="roadAddress">Email</label>
                            <div class="form-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="email" name="email" [(ngModel)]="userData.email" id="email" class="form-control" required data-error="Please enter email" placeholder="Email" required>
                            </div>
                            <label for="roadAddress">Password</label>
                            <div class="form-group">
                                <i class='bx bx-lock-alt'></i>
                                <input class="form-control" type="password" name="password" [(ngModel)]="userData.password" placeholder="Password" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="h2 card-title">Sign Up <i class='bx bx-plus'></i></button>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="account-desc">Already have an account? <a routerLink="/signin">Sign In</a></p>
                        </form>
                    </div>
                </div>
        
