<link rel="stylesheet" href="/assets/css/style55.css">



<div class="login-wrapper">
    <div class="login-card">
      <div class="login-header">
        <h2>Create an Account!</h2>
        <p>Sign up to get started</p>
      </div>
      <form class="login-form" (ngSubmit)="signUp()">
        <div class="form-group">
          <i class='bx bx-user'></i>
          <input type="text" name="firstName" [(ngModel)]="userData.firstName" placeholder="First Name" required />
        </div>
        <div class="form-group">
          <i class='bx bx-user'></i>
          <input type="text" name="lastName" [(ngModel)]="userData.lastName" placeholder="Last Name" required />
        </div>
        <div class="form-group">
          <i class='bx bx-phone'></i>
          <input type="number" name="phoneNumber" [(ngModel)]="userData.phoneNumber" placeholder="Phone Number" required />
        </div>
        <div class="form-group">
          <i class='bx bx-calendar'></i>
          <input type="date" name="birthday" [(ngModel)]="userData.birthday" placeholder="Birthday" required />
        </div>
        <div class="form-group">
          <i class='bx bx-envelope'></i>
          <input type="email" name="email" [(ngModel)]="userData.email" placeholder="Email" required />
        </div>
        <div class="form-group">
          <i class='bx bx-lock-alt'></i>
          <input type="password" name="password" [(ngModel)]="userData.password" placeholder="Password" required />
        </div>
  
        <button type="submit" class="login-btn">Sign Up</button>
  
        <div class="signup-link">
          Already have an account? <a routerLink="/signin">Sign In</a>
        </div>
      </form>
    </div>
  </div>
  
