<link rel="stylesheet" href="/assets/css/style55.css">
<mat-horizontal-stepper>

    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Select insurance</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Select Insurance</mat-label>
            <mat-select formControlName="typeAssurance">
              <mat-option value="">Select Insurance</mat-option>
              <mat-option value="car">Car</mat-option>
              <mat-option value="residence">Residence</mat-option>
              <mat-option value="health">Health</mat-option>
              <mat-option value="hospitalization">Hospitalization</mat-option>
              <mat-option value="academic">Academic</mat-option>
              <mat-option value="savings_plan">Savings Plan</mat-option>
            </mat-select>
          </mat-form-field>
      
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      

    
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Describe the Incident</ng-template>
        <mat-form-field appearance="fill">
          <textarea matInput placeholder="Description of the incident" formControlName="description"></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>location</ng-template>
        <mat-form-field appearance="fill">
          <input matInput placeholder="location" formControlName="location">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Upload Document</ng-template>
          <input type="file" (change)="onFileChange($event)" required>
          <div *ngIf="thirdFormGroup.get('document')?.invalid && thirdFormGroup.get('document')?.touched">
            <small class="text-danger">Please select a file.</small>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You have completed the form.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>