<div class="container">
    <h2 class="mb-4">Liste des Rendez-vous</h2>
    <button routerLink="/admin/appointment/add" class="btn btn-primary mb-3">Ajouter un rendez-vous</button>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Rendez-vous</h4>
            <h6 class="card-subtitle">Liste des rendez-vous existants</h6>
            <div class="table-responsive m-t-40">
              <table id="appointmentTable" 
                     class="display nowrap table table-hover table-striped table-bordered" 
                     cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date Soumise</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let appointment of appointments">
                    <td>{{ appointment.description }}</td>
                    <td>{{ appointment.status }}</td>
                    <td>{{ appointment.dateSubmitted | date }}</td>
                    <td>
                      <button class="btn btn-warning btn-sm" [routerLink]="['/admin/appointment/edit', appointment.idAppointment]">Modifier</button>
                      <button class="btn btn-danger btn-sm" (click)="deleteAppointment(appointment.idAppointment)">Supprimer</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  