/* Conteneur du formulaire */
.form-container {
    padding: 20px;
    background-color: #ffffff; /* Fond blanc pour un look propre */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  /* Titres */
  .form-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #004b8d; /* Bleu de la charte graphique */
    margin-bottom: 20px;
  }
  
  /* Groupes de champs de formulaire */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #272727; /* Gris foncé */
    margin-bottom: 5px;
    display: block;
  }
  
  /* Champ de texte et date */
  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="date"]:focus,
  .form-group select:focus {
    border-color: #004b8d; /* Bleu de la charte au focus */
    outline: none;
  }
  
  /* Bouton de soumission */
  .btn-submit {
    background-color: #f38f1d; /* Orange de la charte */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #d97713; /* Orange plus foncé au survol */
  }
  
  .btn-submit:disabled {
    background-color: #ccc; /* Désactivation du bouton */
    cursor: not-allowed;
  }
  